.list{
  min-height: 10vh;
  justify-content: center;
  align-items: center;
  width: 80%;
  display: flex;
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  font-size: 1.5em;
}

li {
	list-style: none;
	padding-bottom: .6em;
}

.round-button {
    width:100px;
    height:100px;;
    border: 1.5px solid #91999f;
    border-radius: 50%;
    color:#ff2828;
    text-align:center;
    text-decoration:none;
    background: #4f5f6ce8;
    box-shadow: 0 0 3px #403434;
    font-size:1em;
    margin-left: 1em;
}
.round-button:hover {
    background: #262626;
}

.addStrike {
  text-decoration: line-through;
}

.labelFormat {
  font-size: 1.2em;
  margin-left: 1em;
  font-family: Georgia, serif;
  letter-spacing: 1px;
  word-spacing: 0.2px;
  color: #000000;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
}